// Variables

// Import color, font variables from Shared.scss file
@use '../../Shared.scss';


// Header styles
.Header-container {
  display: flex;
  flex-flow: column wrap;
  width: Shared.$container-big-width;
  height: fit-content;
  background-color: Shared.$container-background;
  padding: Shared.$container-padding;
  margin: Shared.$container-margin;
  border-radius: Shared.$container-border-radius;
  box-shadow: Shared.$container-box-shadow;

  h1 {
    font-family: Shared.$font-main, Helvetica, sans-serif;
    font-size: Shared.$font-main-size;
    font-weight: bold;
    color: Shared.$font-main-color;
    letter-spacing: -1px;
    line-height: 120%;
    margin: 0;

    &.new-badge::after {
      content: "NEW";
      background-color: Shared.$color-accent;
      font-family: Shared.$font-main, Helvetica, sans-serif;
      font-size: Shared.$font-text-size;
      color: Shared.$font-text-color;
      padding: 4px 6px;
      margin: 10px;
      position: relative;
      top: -10px;
      border-radius: 5%;
    }
  }

  .description {
    font-family: Shared.$font-text, Helvetica, sans-serif;
    font-size: Shared.$font-text-size;
    color: Shared.$font-text-color;
    line-height: 150%;
    margin: 0;
  }
}