// Variables

// Import color, font variables from Shared.scss file
@use '../../Shared.scss';


// Header styles
.DonationInfo-container {
  display: flex;
  flex-flow: column wrap;
  width: Shared.$container-small-width;
  background-color: Shared.$container-background;
  padding: Shared.$container-padding;
  margin: Shared.$container-margin;
  border-radius: Shared.$container-border-radius;
  box-shadow: Shared.$container-box-shadow;
  height: fit-content;

  .money-raised {
    font-family: Shared.$font-main, Helvetica, sans-serif;
    font-size: Shared.$font-main-size;
    font-weight: 500;
    color: Shared.$font-main-color;
    line-height: 120%;
    margin: 0;
  }

  .progress-bar-container {
    background-color: Shared.$color-mild;
    height: 10px;
    margin: 8px 0px 16px;
    border-radius: 2px;
    overflow: hidden;

    .progress-bar {
      background-color: Shared.$color-main;
      height: 100%;
      width: 69%;
    }
  }

  .text {
    font-family: Shared.$font-text, Helvetica, sans-serif;
    font-size: Shared.$font-text-size;
    color: Shared.$font-text-color;
    line-height: 120%;
    margin: 0;
  }

  h3 {
    margin: 0 0 12px;
  }

  @mixin text-box() {
    font-family: Shared.$font-main, Helvetica, sans-serif;
    height: 50px;
    margin: 6px 0;
    border: none;
    border-radius: 3px;
  }

  .input-container {
    display: flex;
    flex-flow: row nowrap;
    @include text-box();
    overflow: hidden;

    .currency-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: Shared.$color-accent-3;
      color: Shared.$font-text-color;
      font-family: Shared.$font-main, Helvetica, sans-serif;
      font-size: Shared.$font-text-size;
      font-weight: 500;
      width: 80px;
    }
  
    .donation-input {
      background-color: Shared.$color-accent;
      color: Shared.$font-main-color;
      font-family: Shared.$font-main, Helvetica, sans-serif;
      font-size: Shared.$font-text-size;
      font-weight: 500;
      padding: 0 14px;
      border: none;
      width: 100%;
    }
  }

  .donation-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: Shared.$color-main;
    @include text-box();

    .button-text {
      color: Shared.$font-bright-color;
      font-weight: bold;
      font-size: Shared.$font-secondary-size;
      width: 100%;
      transform: translateX(15px);
    }

    .icon-container {
      content: url(Shared.$heart-icon);
      width: 20px;
      margin-right: 10px;
    }
  }
}