// Global Tweaks

* {
    box-sizing: border-box;
}

* {
    transition: border 0.3s;
}

*:focus {
    outline: none;
}

// Icons

$done-icon: '../../assets/icons/done_icon.svg';
$edit-icon: '../../assets/icons/edit_icon.svg';
$error-icon: './assets/icons/error_icon.svg';
$heart-icon: '../../assets/icons/heart_icon.svg';
$help-icon: '../../assets/icons/help_icon.svg';
$redeem-icon: '../../assets/icons/redeem_icon.svg';
$send-icon: '../../assets/icons/send_icon.svg';
$expand-more-icon: '../../assets/icons/expand_more_icon.svg';

// Font Face Variables

@font-face {
    font-family: 'Red Hat Display';
    src: url("./assets/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Red Hat Display Italic';
    src: url("./assets/fonts/RedHatDisplay-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Red Hat Text';
    src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Red Hat Text Italic';
    src: url("./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf");
}

$font-main: 'Red Hat Display';
$font-main-italic: 'Red Hat Display Italic';
$font-text: 'Red Hat Text';
$font-text-italic: 'Red Hat Text Italic';

// Fonts Size Variables

$font-main-size: 45px;
$font-secondary-size: 25px;
$font-text-size: 19px;
$font-tiny-size: 14px;

// Colors Variables

$font-main-color: #222222;
$font-text-color: #22222277;
$font-bright-color: #FFFFFF;

$container-background: #FFFFFF;

$color-main: #9C79E7;
$color-accent: #F5E6DC;
$color-accent-2: #E4B290;
$color-accent-3: #F0DDD1;
$color-mild: #2222221D;
$color-error: #e77979;

$gradient-color-1: #F1CFB5;
$gradient-color-2: #EFE7FF;
$gradient-color-3: #E3E3E3;

// Gaps and Sizes

$container-padding: 36px;
$container-margin: 0;
$container-border-radius: 16px;
$container-box-shadow: 0 0 12px rgba(#000000, 0.12);
$container-big-width: 700px;
$container-small-width: 400px;

// Separator

.separator {
    background-color: $color-mild;
    height: 2.5px;
    margin: 24px 0px;
}

// Smaller Heading

h3 {
    font-family: $font-main, Helvetica, sans-serif;
    font-size: $font-secondary-size;
    font-weight: 600;
    color: $font-main-color;
    line-height: 120%;
    margin: 0 0 20px;
  }

  // Errors

  .error {
    font-family: $font-main, Helvetica, sans-serif;
    font-size: $font-tiny-size;
    font-weight: 500;
    color: $color-error;
    line-height: 120%;
    margin: 10px 0;

    &::before {
        content: url($error-icon);
        display: inline-block;
        transform: translateY(6px);
        margin-top: -10px;
        padding: 0;
        margin-right: 6px;
        filter: invert(60%) sepia(23%) saturate(1048%) hue-rotate(314deg) brightness(95%) contrast(91%);
    }
  }

  .email-error {
    margin: 0;
  }

  // Button Hover Effect
  button {
    cursor: pointer;
    transition: filter 0.3s;

    &:hover {
        filter: brightness(0.95) saturate(1.3);
    }
  }

  // Responsiveness

  @media all and (max-width: 1200px) {
    .DonationInfo-container, .LatestDonations-container {
        width: $container-big-width;
    }

    .Header-container {order: -1; }
    .DonationInfo-container {order: -1; }
    .LatestDonations-container {order: -1;}
  }

  @media all and (max-width: 800px) {
    .Donate-container > * {
        width: 98% !important;
        margin: 0;
    }

    .QuestionsAnswers-header-choice * {
        font-size: $font-text-size !important;
    }
  }

  @media all and (max-width: 400px) {
    html {
        zoom: 0.7; 
        -moz-transform: scale(0.7);
        -moz-transform-origin: 0 0;
    }
  }